.board-shell {
    border: 20px solid #773f1a; /* Sepia */
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    caret-color: transparent; /* Prevents blinking cursor from appearing on board elements */
    width: min-content;
}

.board-row {
    /* Prevents chessboard from responsively collapsing when window size changes */
    flex-basis: min-content;
    display: flex;
    flex-direction: column-reverse;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}
