.board-shell {
    border: 7px solid #773f1a; /* Sepia */
    margin-left: 100px;
    margin-top: 100px;
    display: inline-grid;
}

.board-row {
    display: inline-block;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}
